name: Post JSON File to Two URLs

on:
 push:
  branches:
   - main # Runs only when pushing to the main branch
 workflow_dispatch: # Allows manual trigger

jobs:
 post_json:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout Repository
     uses: actions/checkout@v3

   - name: Send JSON Data to First URL
     run: |
       curl -X POST "https://:bPPnQSzfTeynnzBVMhNDvg@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:LJAfdjztQSW_FEcQc6B20w/streams/AQAAABJcGZg1CEeiv7yh9q6fHHYAAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json

   - name: Send JSON Data to Second URL
     run: |
       curl -X POST "https://:4_Cwcgt8QFuCwpvmU22VLA@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:LJAfdjztQSW_FEcQc6B20w/streams/AQAAAAHJCobYP0iyvGPyWhdeKcMAAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json 
